<%- include("partials/header"); -%>


    <h1>Hello</h1>
    <p><%= homeContentPage %></p>
    <% postsArray.forEach( function(val){ %>
        <h1><%= val.title %></h1>
        <p><%= val.content + "..." %>
            <a href="/posts/<%= val._id %>">Read More</a>
        </p>
    <% }); %>
 %>

<%- include("partials/footer"); -%>